@model ThomasGregTeste.Business.Models.ClienteViewModel
@{
    ViewData["Title"] = "Cadastro Cliente";
}
<div class="container">
    <div class="row">

        @if (ViewBag.Message != null)
        {
            <div class="row">
                <div class="row alert alert-warning" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }
        <div class="col col-md-6 offset-md-3">
            <form asp-action="Create" id="clienteForm" enctype="multipart/form-data">
                <legend>Cadastar Cliente</legend>
                <div class="mb-3">
                    <label for="txtNome" class="form-label">@Html.LabelFor(model => model.Nome)</label>
                    <input asp-for="Nome" type="text" class="form-control" id="txtNome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="txtEmail" class="form-label">@Html.LabelFor(model => model.Email)</label>
                    <input asp-for="Email" type="text" class="form-control" id="txtEmail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="txtLogotipo" class="form-label">@Html.LabelFor(model => model.Logotipo)</label>
                    <input asp-for="FormFile" type="file" class="form-control" id="txtLogotipo" />
                </div>
                @* <div class="row">
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLogradouro">Adicionar Logradouro</button>
                    </div>

                    @if (Model.Logradouros.Count() > 0)
                    {
                        <div class="row">
                            <legend>Logradouros</legend>
                        </div>
                        <div class="row">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Dados</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var log in Model.Logradouros)
                                    {
                                        <tr>
                                            <td>@log.Endereco</td>
                                            <td>
                                                <a asp-page="./ClienteUpdate" asp-route-id="@log.Id">Atualizar</a> |
                                                <a asp-page="./ClienteDelete" asp-route-id="@log.Id">Deletar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="row alert alert-warning" role="alert">
                            Nenhum Logradouro Cadastrado
                        </div>
                    }
                </div> *@
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@* 
<div id="modalLogradouro" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tituloLogradouro" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <form asp-action="Create" id="logradouroForm">
                <div class="modal-header">
                <h4 class="modal-title" id="tituloLogradouro">Criar novo Logradouro</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="txtEndereco" class="form-label">@Html.LabelFor(model => model.Logradouro.Endereco)</label>
                            <input asp-for="Logradouro.Endereco" type="text" class="form-control" id="txtEndereco" />
                            <span asp-validation-for="Logradouro.Endereco" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" value="Cancelar" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-secondary" value="Criar" id="btn-criar">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script type="text/javascript">
    $("#btn-criar").on('click', function () {
        let logradouro = $('#logradouroForm').serialize();
        console.log(logradouro);
        $.ajax({
            async: true,
            data: logradouro,
            type: 'POST',
            url: '/Cliente/AddLogradouro',
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $()
            }
        });
    });
</script> *@
@* @section scripts {
    <script>
        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            $("input[name='Audio.AudioSelected']").each(function (i) {
                var AudioSelected = $(this).val();
                formData.append("Sentences[" + i + "].Audio.AudioSelected", AudioSelected);

            });
            $("input[name='Image.ImageSelected']").each(function (i) {
                var ImageSelected = $(this).val();
                formData.append("Sentences[" + i + "].Image.ImageSelected", ImageSelected);

            });
            $("input[name='SentenceText']").each(function (i) {
                var SentenceText = $(this).val();
                formData.append("Sentences[" + i + "].SentenceText", SentenceText);

            });

            $.ajax({
                method: 'post',
                url: "StoryTest/AddSentence",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {

                }
            });

        });

        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#editorRows").append(html); }
            });
            return false;
        });

        $("a.deleteRow").on("click", function () {
            $(this).parents("div.editorRow:first").remove();
            return false;
        });
    </script> 
}*@